.array-container {
    margin: 40px auto auto auto;
    width: 80%;
    border: 2px solid black;
    padding: 10px;

    
}

.array-bar {
    width: 0.5em;
    background-color: black;
    display: inline-block;
    margin: 0 2px;

}